<!doctype HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">

	<title>Price Comparator</title>

</head>
<body>
	<header><img src="/img/pengo.jpg" alt="Pengo" style="width:300px;height:330px;"></header>
	{{{body}}}
</body>
</html>