<!DOCTYPE HTML>
<!--
	Binary by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<div id="wrapper">
	<head>
		<title>PriceComparator</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="/" class="logo"><strong>PriceComparator</strong></a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="about">About</a></li>
				</ul>
			</nav>

		
		<!-- Main -->
		
			<section id="main">
				<div class="inner">

					<!-- Text -->

						<p>
							{{{body}}}
						</p>
					
				</div>
			</section>
					
		<div id="footer">
				<!-- ul class="icons" -->
					<!-- <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
					<!-- <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li> -->
					<!-- <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li> -->
				<!-- /ul -->
				
				<div class="copyright">
					&copy; PriceComparator. Design: <a href="https://templated.co">TEMPLATED</a>.
				</div>
			</div>	
			
	
		
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</div>

			
			