<!DOCTYPE HTML>
<!--
	Binary by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Binary by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="index.html" class="logo"><strong>Binary</strong> by TEMPLATED</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main">
				<div class="inner">
					<div class="image fit">
						<img src="images/pic11.jpg" alt="" />
					</div>
					<header>
						<h1>Enter the product name:</h1>
						<p class="info">3 days ago by <a href="#">Jane Doe</a></p>
					</header>

					<div class="content">
<form class="form-horizontal" role="form"
	action ="/process?form=search" method="POST">
	<!-- input type="hidden" name="_csrf" value="{{csrf}}" -->
	<div class="form-group">
		<label for="prodName" class="col-sm-2 control-label">Product Name</label>
		<div class="col-sm-4">
			<input type="text" class="form-control"
			id="prodName" name="name">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-4">
			
			<button type="submit" class="button alt big">Search</button>
		</div>
	</div>
</form>
</div>
				</div>
			</section>

	</body>
</html>